body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  flex-direction: column;
  height: 100vh;
  display: flex;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "left-sidebar content content"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  flex: 1;
}

.header {
  grid-area: header;
  background-color: #eb4e1a;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.left-sidebar {
  grid-area: left-sidebar;
  background-color: #576068;
  padding: 20px;
}

.left-sidebar h2,
.left-sidebar h3 {
  margin-top: 0;
}
.left-sidebar h2 {
  color: white;
}

.left-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.left-sidebar li a {
  margin: 5px 0;
  color: white;
}

.content {
  grid-area: content;
  padding: 20px;
  background-color: #ffffff;
}

.content h2 {
  margin-top: 0;
}

.footer {
  grid-area: footer;
  background-color: #eb4e1a;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
